@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: blueviolet;
}

.header {
  font-size: 300%;
  background-image: url("writing_guide.png");
  background-size: cover;
  background-position: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: #5b8156;
}

.content {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 1000px;
  padding: 10px;
  background-color: blue;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: aliceblue;
  width: 100%;
  height: 100%;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: brown; */
  border-bottom: solid black;
  margin: 5px 10px 0px 10px;
  padding: 15px;
}

body {
  font-family: "Inter", serif;
}

h1, h2, h3 {
  font-family: "Playpen Sans", serif;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.summary:last-child {
  border-bottom: none;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgoldenrod;
  margin: 10px;
  padding: 10px;
}

.worst {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  margin: 10px;
  padding: 10px;
}

.special {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: green;
}

.most-legible {
  background-color: darkolivegreen;
}

.most-consistent {
  background-color: lavender;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 85px 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #FCEECC;
}

.apple-container {
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #AE5151;
  border-radius: 50%;
}

.apple-text-container {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.apple-text {
  color: #083b7d;
  text-align: center;
  padding: 15px 20px 5px 20px;
  /* background-color: red; */
}

.input-buttons {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #f0d9a5;
  border-radius: 12px;
  color: #083b7d;
}

#phrase {
  display: block;
  width: 200px;
}

.input-buttons:hover {
  color: #7d0823;
  background-color: #d2be8f;
}

#submit-button {
  display: none;
}

#file-upload-button {
  display: none;
}
